---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="I build analyses for sticky, info-scarce problems."
	pubDate={new Date('May 03 2026')}
	heroImage={AboutHeroImage}
	curlicueIntensity="soft"
>
	<p>
		Most of my career has been in the analytics layer of consumer tech: 
		marketplace growth, experimentation design, and data governance. A little bit of everything.
	</p>

	<p>
		This blog is for personal projects which also require a little bit of everything. There tends to
		be a common thread: the data exists, and it tells a great story if it's assembled in a useful way.
	</p>

	<p>
		If something here is wrong or interesting, <a href="https://www.linkedin.com/in/connorkenehan/">reach out</a>! I'd genuinely like to know.
		The code for every post is in the <a href="https://github.com/ckeneha1/gatheringdata-blog">GitHub repo</a>.
	</p>
</Layout>
